@model  Ecommerce.Models.Product
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/stylesheet.css" rel="stylesheet" />
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".btn-group > .btn").click(function () {
                $(this).addClass("active-item").siblings().removeClass("active-item").children().css('fill', 'black')
                $(this).addClass("active-item").children().css('fill', 'white')
            });
        });
    </script>
</head>
<style>
    .active-item {
        background-color: #E57905;
        border: #E57905;
        color: white;
    }

    .btn-item, btn-item:hover {
        border: 1px solid rgba(0, 0, 0, 0.15) !important;
    }

    .wholeproduct {
        align-items: center;
        justify-content: center;
    }

    .text-container {
        word-wrap: break-word;
        max-width: 1100px; /* Set a maximum width for the container */
        font-size: 14px;
    }

    .text.des {
        font-size: 14px;
    }

    .lazyloaded {
        width: 170px;
        height: 170px;
        text-shadow: 2px 2px;
    }

    .col {
        margin-left: 50px;
        text-align: center;
    }

    a:link, a:visited {
        background-color: transparent;
        color: black;
        text-decoration: none;
        display: inline-block;
    }
    a:hover, a:active {
        color: darkorange;
    }

    .add-to-cart-buy-now-btn {
        -webkit-text-size-adjust: none;
        visibility: visible;
        overflow: visible;
        line-height: 1.15;
        margin-top: 35px;
        margin-left: 10px;
        text-transform: none;
        -webkit-appearance: button;
        border-radius: 2px;
        transition: all .3s ease-out;
        outline: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 44px;
        font-size: 16px;
        background: #ffb916;
        color: #fff;
        padding: 0;
        width: 225px;
        text-align: center;
        margin-right: 10px;
        border: 0;
        transition: all ease-in-out 0.5s;
    }

        .add-to-cart-buy-now-btn:hover {
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
    
</style>
<body>
    
   
  
    <div class="wholeproduct mt-5">
        <div class="container">
            <div class="row">
                <div class="row">
                    <div class="col-sm"><img src="~/Content/Images/@Model.ImagePro" class="rounded" alt="Cinque Terre" width="500" height="500" style="border-radius:35px;"></div>
                    <div class="col-sm">
                        <h2>@Html.DisplayFor(model => model.NamePro)</h2>
                        <h4 style=" color: #e79439">
                            @Html.DisplayFor(model => model.Price, "{0:N0} VNĐ")
                        </h4>
                        <h5>Chọn size (Bắt buộc)</h5>
                        <div class="btn-group">
                            <button type="button" class="btn btn-item">
                                <svg width="14" viewBox="0 0 13 16" xmlns="http://www.w3.org/2000/svg"> <path class="shape active" d="M11.6511 1.68763H10.3529V0.421907C10.3529 0.194726 10.1582 0 9.93104 0H2.17444C1.94726 0 1.75254 0.194726 1.75254 0.421907V1.65517H0.454361C0.194726 1.68763 0 1.88235 0 2.10953V4.18661C0 4.41379 0.194726 4.60852 0.421907 4.60852H1.33063L1.72008 8.8925L1.78499 9.76876L2.30426 15.6105C2.33671 15.8377 2.49899 16 2.72617 16H9.28195C9.50913 16 9.70385 15.8377 9.70385 15.6105L10.2231 9.76876L10.288 8.8925L10.6775 4.60852H11.5862C11.8134 4.60852 12.0081 4.41379 12.0081 4.18661V2.10953C12.073 1.88235 11.8783 1.68763 11.6511 1.68763ZM2.56389 8.40568H3.50507C3.47262 8.56795 3.47262 8.73022 3.47262 8.8925C3.47262 9.02231 3.47262 9.15213 3.50507 9.28195H2.66126L2.6288 8.92495L2.56389 8.40568ZM9.47667 8.92495L9.44422 9.28195H8.56795C8.60041 9.15213 8.60041 9.02231 8.60041 8.8925C8.60041 8.73022 8.56795 8.56795 8.56795 8.40568H9.50913L9.47667 8.92495ZM7.72414 8.8925C7.72414 9.83367 6.97769 10.5801 6.03651 10.5801C5.09534 10.5801 4.34888 9.83367 4.34888 8.8925C4.34888 7.95132 5.09534 7.20487 6.03651 7.20487C6.97769 7.20487 7.72414 7.95132 7.72414 8.8925ZM8.92495 15.1562H3.18053L2.72617 10.1582H3.82961C4.28398 10.9371 5.09534 11.4564 6.03651 11.4564C6.97769 11.4564 7.8215 10.9371 8.24341 10.1582H9.34686L8.92495 15.1562ZM9.60649 7.52941H8.21095C7.75659 6.81542 6.94523 6.3286 6.03651 6.3286C5.12779 6.3286 4.31643 6.81542 3.86207 7.52941H2.49899L2.23935 4.60852H9.86613L9.60649 7.52941ZM11.1968 3.73225H10.3205H1.75254H0.876268V2.56389H2.17444H2.2069H2.23935H8.27586C8.50304 2.56389 8.69777 2.36917 8.69777 2.14199C8.69777 1.91481 8.50304 1.72008 8.27586 1.72008H2.6288V0.876268H9.47667V2.10953C9.47667 2.33671 9.6714 2.53144 9.89858 2.53144H11.1968V3.73225Z"></path> </svg>
                                Nhỏ + 0 đ
                            </button>
                            <button type="button" class="btn btn-item">
                                <svg width="14" viewBox="0 0 13 16" xmlns="http://www.w3.org/2000/svg"> <path class="shape active" d="M11.6511 1.68763H10.3529V0.421907C10.3529 0.194726 10.1582 0 9.93104 0H2.17444C1.94726 0 1.75254 0.194726 1.75254 0.421907V1.65517H0.454361C0.194726 1.68763 0 1.88235 0 2.10953V4.18661C0 4.41379 0.194726 4.60852 0.421907 4.60852H1.33063L1.72008 8.8925L1.78499 9.76876L2.30426 15.6105C2.33671 15.8377 2.49899 16 2.72617 16H9.28195C9.50913 16 9.70385 15.8377 9.70385 15.6105L10.2231 9.76876L10.288 8.8925L10.6775 4.60852H11.5862C11.8134 4.60852 12.0081 4.41379 12.0081 4.18661V2.10953C12.073 1.88235 11.8783 1.68763 11.6511 1.68763ZM2.56389 8.40568H3.50507C3.47262 8.56795 3.47262 8.73022 3.47262 8.8925C3.47262 9.02231 3.47262 9.15213 3.50507 9.28195H2.66126L2.6288 8.92495L2.56389 8.40568ZM9.47667 8.92495L9.44422 9.28195H8.56795C8.60041 9.15213 8.60041 9.02231 8.60041 8.8925C8.60041 8.73022 8.56795 8.56795 8.56795 8.40568H9.50913L9.47667 8.92495ZM7.72414 8.8925C7.72414 9.83367 6.97769 10.5801 6.03651 10.5801C5.09534 10.5801 4.34888 9.83367 4.34888 8.8925C4.34888 7.95132 5.09534 7.20487 6.03651 7.20487C6.97769 7.20487 7.72414 7.95132 7.72414 8.8925ZM8.92495 15.1562H3.18053L2.72617 10.1582H3.82961C4.28398 10.9371 5.09534 11.4564 6.03651 11.4564C6.97769 11.4564 7.8215 10.9371 8.24341 10.1582H9.34686L8.92495 15.1562ZM9.60649 7.52941H8.21095C7.75659 6.81542 6.94523 6.3286 6.03651 6.3286C5.12779 6.3286 4.31643 6.81542 3.86207 7.52941H2.49899L2.23935 4.60852H9.86613L9.60649 7.52941ZM11.1968 3.73225H10.3205H1.75254H0.876268V2.56389H2.17444H2.2069H2.23935H8.27586C8.50304 2.56389 8.69777 2.36917 8.69777 2.14199C8.69777 1.91481 8.50304 1.72008 8.27586 1.72008H2.6288V0.876268H9.47667V2.10953C9.47667 2.33671 9.6714 2.53144 9.89858 2.53144H11.1968V3.73225Z"></path> </svg>
                                Vừa + 6.000 đ
                            </button>
                            <button type="button" class="btn btn-item">
                                <svg width="14" viewBox="0 0 13 16" xmlns="http://www.w3.org/2000/svg"> <path class="shape active" d="M11.6511 1.68763H10.3529V0.421907C10.3529 0.194726 10.1582 0 9.93104 0H2.17444C1.94726 0 1.75254 0.194726 1.75254 0.421907V1.65517H0.454361C0.194726 1.68763 0 1.88235 0 2.10953V4.18661C0 4.41379 0.194726 4.60852 0.421907 4.60852H1.33063L1.72008 8.8925L1.78499 9.76876L2.30426 15.6105C2.33671 15.8377 2.49899 16 2.72617 16H9.28195C9.50913 16 9.70385 15.8377 9.70385 15.6105L10.2231 9.76876L10.288 8.8925L10.6775 4.60852H11.5862C11.8134 4.60852 12.0081 4.41379 12.0081 4.18661V2.10953C12.073 1.88235 11.8783 1.68763 11.6511 1.68763ZM2.56389 8.40568H3.50507C3.47262 8.56795 3.47262 8.73022 3.47262 8.8925C3.47262 9.02231 3.47262 9.15213 3.50507 9.28195H2.66126L2.6288 8.92495L2.56389 8.40568ZM9.47667 8.92495L9.44422 9.28195H8.56795C8.60041 9.15213 8.60041 9.02231 8.60041 8.8925C8.60041 8.73022 8.56795 8.56795 8.56795 8.40568H9.50913L9.47667 8.92495ZM7.72414 8.8925C7.72414 9.83367 6.97769 10.5801 6.03651 10.5801C5.09534 10.5801 4.34888 9.83367 4.34888 8.8925C4.34888 7.95132 5.09534 7.20487 6.03651 7.20487C6.97769 7.20487 7.72414 7.95132 7.72414 8.8925ZM8.92495 15.1562H3.18053L2.72617 10.1582H3.82961C4.28398 10.9371 5.09534 11.4564 6.03651 11.4564C6.97769 11.4564 7.8215 10.9371 8.24341 10.1582H9.34686L8.92495 15.1562ZM9.60649 7.52941H8.21095C7.75659 6.81542 6.94523 6.3286 6.03651 6.3286C5.12779 6.3286 4.31643 6.81542 3.86207 7.52941H2.49899L2.23935 4.60852H9.86613L9.60649 7.52941ZM11.1968 3.73225H10.3205H1.75254H0.876268V2.56389H2.17444H2.2069H2.23935H8.27586C8.50304 2.56389 8.69777 2.36917 8.69777 2.14199C8.69777 1.91481 8.50304 1.72008 8.27586 1.72008H2.6288V0.876268H9.47667V2.10953C9.47667 2.33671 9.6714 2.53144 9.89858 2.53144H11.1968V3.73225Z"></path> </svg>
                                Lớn + 10.000 đ
                            </button>
                        </div>
                        <h5>Topping</h5>
                        <table>
                            <tr>
                                <th>
                                    <button type="button" class="btn btn-outline-warning" style="margin-left: 10px; border-color:orange">Kem Phô Mai Macchiato + 10.000đ</button>
                                </th>
                                <th>
                                    <button type="button" class="btn btn-outline-warning" style="margin-left: 10px">Shot Espresso + 10.000đ</button>
                                </th>
                            </tr>
                        </table>

                        <table>
                            <tr>
                                <th>
                                    <button type="button" class="btn btn-outline-warning" style="margin-left: 10px; border-color:orange">Trân châu trắng + 10.000đ</button>
                                </th>
                                <th>
                                    <button type="button" class="btn btn-outline-warning" style="margin-left: 10px">Sốt Caramel 10.000đ</button>
                                </th>
                            </tr>
                        </table>

                        <table>
                            <tr>
                                <th>
                                    <button type="button" class="btn btn-outline-warning" style="margin-left: 10px; border-color:orange">Thạch cà phê + 10.000đ</button>
                                </th>
                                <th>
                                    <button type="button" class="btn btn-outline-warning" style="margin-left: 10px">Thạch Oolong Nướng + 10.000đ</button>
                                </th>
                            </tr>
                        </table>
                        <table>
                            <tr>
                                <th>
                                    <button class="add-to-cart-buy-now-btn  pdp-button pdp-button_type_text pdp-button_theme_yellow pdp-button_size_xl">
                                        <span class="pdp-button-text">
                                            <span class="" data-spm-anchor-id="a2o4n.pdp_revamp.0.i1.20c9516dyaN0yI">
                                                @if (Session["Ten"] == null)
                                                {
                                                    <a  class="noUser" style="text-decoration:none; color:white;">Mua ngay</a>
                                                }
                                                else
                                                {
                                                    <a href="@Url.Action("AddToCart", "Cart", new { id = Model.ProductID })" style="color:white;">Mua ngay</a>
                                                }

                                                </span>
                                        </span>
                                    </button>
                                </th>
                                <th>
                                    <button class="add-to-cart-buy-now-btn  pdp-button pdp-button_type_text pdp-button_theme_orange pdp-button_size_xl">
                                        @if (Session["Ten"] != null)
                                        {
                                            <span class="pdp-button-text">
                                                <a id="addToCartButton" data-product-id="@Model.ProductID">Thêm vào giỏ hàng</a>
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="pdp-button-text">
                                                <a class="noUser" style="text-decoration:none; color:white;">Thêm vào giỏ hàng</a>
                                            </span>
                                        }

                                    </button>
                                </th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="text.des" style="margin-left:240px;">
        <h1>
            <strong>
                Mô tả sản phẩm
            </strong>
        </h1>
        <div class="text-container">
            @Html.DisplayFor(model => model.DecriptionPro)
            <hr />
            <h2>
                Sản phẩm liên quan
            </h2>
        </div>
    </div>

    @Html.Action("Qcsanpham")
    @*<table>
            <td>
                <div class="col" style=" margin-left: 240px; ">
                    <a href="">
                        <img class="lazyloaded" src="~/Images/cloudfeecaramel.jpg" />
                        <div>
                            Cloudfee Caramel
                            <div>
                                49.000đ
                            </div>
                        </div>
                    </a>
                </div>
            </td>
            <td>
                <div class="col">
                    <a href="">
                        <img class="lazyloaded" src="~/Images/coldbrewsuatuoi.jpg" />
                        <div>
                            Cold Brew Sữa Tươi
                            <div>
                                49.000đ
                            </div>
                        </div>
                    </a>
                </div>
            </td>
            <td>
                <div class="col">
                    <a href="">
                        <img class="lazyloaded" src="~/Images/caphedenda.jpg" />
                        <div>
                            Cà Phê Đen Đá
                            <div>
                                29.000đ
                            </div>
                        </div>
                    </a>
                </div>
            </td>
            <td>
                <div class="col">
                    <a href="">
                        <img class="lazyloaded" src="~/Images/bacsiu.jpg" />
                        <div>
                            Bạc Sỉu
                            <div>
                                29.000đ
                            </div>
                        </div>
                    </a>
                </div>
            </td>
        </table>*@
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".btn-group > .btn").click(function () {
                $(this).addClass("active-item").siblings().removeClass("active-item").children().css('fill', 'black')
                $(this).addClass("active-item").children().css('fill', 'white')
            });
        });

        $(document).ready(function () {
            $("#addToCartButton").click(function () {
                var productId = $(this).data("product-id");
                $.ajax({
                    url: "@Url.Action("AddToCart", "Cart")",
                    type: "POST",
                    data: { id: productId },
                    success: function (data) {

                        toastr.success("Sản phẩm đã thêm vào giỏ hàng! ");
                    }
                });

            });
            $(".noUser").click(function () {
                toastr.error("Vui lòng đăng nhập trước khi mua hàng !")
            })
        });

        


    </script>
</body>
</html>